body{
  background-image: url(./assets/background.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: white;
  font-size: 150px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.717);
  text-align: center;
  
}

@media (max-width:649px){
  .clock{
      font-size: 100px;
  }
}

@media (max-width:450px){
  .clock{
      font-size: 80px;
  }
}